@import 'tailwindcss';

@font-face {
    font-family: 'Bagnard';
    src: url('../assets/fonts/Bagnard.otf') format('opentype');
}

html {
    font-family: 'Bagnard', Arial, Helvetica, sans-serif;
}

.cst-white {
    background-color: #f6f6f6;
    color: #0A0A0A;
}

.cst-white * {
    color: #0A0A0A;
}

.cst-white input::placeholder {
    color: #0A0A0A;
    opacity: 0.7;
}

.cst-white input::-webkit-input-placeholder {
    color: #0A0A0A;
    opacity: 0.7;
}

.cst-white input::-moz-placeholder {
    color: #0A0A0A;
    opacity: 0.7;
}

.cst-white input:-ms-input-placeholder {
    color: #0A0A0A;
    opacity: 0.7;
}

.cst-black {
    background-color: #0A0A0A;
    color: #f6f6f6;
}

.cst-black * {
    color: #f6f6f6;
}

.cst-black input::placeholder {
    color: #f6f6f6;
    opacity: 0.7;
}

.cst-black input::-webkit-input-placeholder {
    color: #f6f6f6;
    opacity: 0.7;
}

.cst-black input::-moz-placeholder {
    color: #f6f6f6;
    opacity: 0.7;
}

.cst-black input:-ms-input-placeholder {
    color: #f6f6f6;
    opacity: 0.7;
}